body {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(90deg, #b621fe 35%, #00d4ff 100%);
  padding: 10px;
  margin: auto;
}

.draw-card {
  width: 100%;
  max-width: 600px;
  background: white;
  margin-top: 80px;
  margin-bottom: 80px;
  padding: 50px;
  border-radius: 20px;
}

.draw-card h2 {
  color: cornflowerblue;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.draw-button {
  border: none;
  outline: none;
  padding: 20px;
  background: blueviolet;
  color: white;
  font-size: 18px;
  border-radius: 40px;
}

img {
  padding: 20px;
}
